<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Configuración para manejar las rutas en la aplicación SPA -->
      <add name="spaHandler" path="*" verb="*" type="Microsoft.AspNetCore.SpaServices.StaticFiles.SpaStaticFileMiddleware" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    
    <rewrite>
      <rules>
        <!-- Redirige todas las solicitudes a la aplicación SPA -->
        <rule name="SPA" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <!-- Excluye las solicitudes a archivos físicos o directorios existentes -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
